.dg_spinner {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: dg_spin_anim 1s infinite linear;
}
@keyframes dg_spin_anim {to{transform: rotate(1turn)}}

.digitalia-wp-plugin .welcome-panel-header img {
    width: 100%;
    opacity: 0.7;
}

.digitalia-wp-plugin span.dashicons {
    background-color: #1e1e1e;
    color: #ffff;
    border-radius: 5px;
    display: flex;
    line-height: 1;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.digitalia-wp-plugin input[type=checkbox],
.digitalia-wp-plugin input[type=radio] {
margin: 0 0 0 20px;
}

.welcome-panel-column > span.dashicons {
    margin-top: 4px;
}

.wp-list-table.tabella-iscritti.striped > tbody > tr.sospeso {
    background-color: #fffdda;
}
.wp-list-table.tabella-iscritti.striped > tbody > tr.sospeso:nth-child(2n+1) {
    background-color: #fffdcc;
}
.wp-list-table.tabella-iscritti.striped > tbody > tr.bannato {
    background-color: #fdf0f0;
}
.wp-list-table.tabella-iscritti.striped > tbody > tr.bannato:nth-child(2n+1) {
    background-color: #f1d1d1;
}
.wp-list-table.tabella-iscritti a.collegamento {
    margin-left: 10px;
}

.testata-plugin {
    display: flex;
}

.testata-plugin .left {
    width: 70%;
}
.testata-plugin .right {
    width: 30%;
}


p.titolo-portale {
    margin: 5px 0px;
    font-size: 15px;
}
.testata-plugin .right {
    text-align: right;
}
.testata-plugin .right a.button {
    margin-right: 12px;
}

.dgplugin-input-wrap {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
    max-width: 400px;
    background: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.dgplugin-input-wrap label {
    padding: 8px;
    background-color: #434349;
    color: #fff;
    font-family: monospace;
    letter-spacing: 0.06em;
    display: block;
    box-sizing: border-box;
}
.dgplugin-input-wrap > p,
.dgplugin-input-wrap input[type="color"],
.dgplugin-input-wrap input[type="email"],
.dgplugin-input-wrap input[type="phone"],
.dgplugin-input-wrap input[type="number"],
.dgplugin-input-wrap input[type="month"],
.dgplugin-input-wrap input[type="date"],
.dgplugin-input-wrap input[type="text"],
.wp-core-ui .dgplugin-input-wrap select {
    padding: 0 8px;
    width: 100%;
    line-height: 2;
    min-height: 30px;
    border: none;
    background: white;
    border-radius: 0px;
    color: black;
    outline: none;
}
.dgplugin-input-wrap > p {
    margin: 0;
}

.dgplugin-input-wrap .img-previewer {
    width: 60px;
    height: 45px;
}
.dgplugin-input-wrap .img-previewer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dgplugin-input-wrap.layout > p {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    box-sizing: border-box;
}
.dgplugin-input-wrap.layout span {
    display: flex;
    flex-direction: column;
    padding: 3px;
    border:  2px solid #aeaec1;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}
.dgplugin-input-wrap.layout span img {
    width: 80px;
    margin-bottom: 3px;
}
.wp-core-ui .dgplugin-input-wrap select {
    position: relative;
}
.wp-core-ui .dgplugin-input-wrap select:after{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #f00;
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 98;
}

.impostazioni-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dcdcde;
}
.impostazioni-header .privacy-settings-tabs-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    cursor: pointer;
}
.impostazioni-content {
    background-color: #fff;
    padding: 10px;
}
.impostazioni-content content {
    display: none;
}
.impostazioni-content content.active {
    display: block;
}

.wp-admin .dgplugin-input-wrap p input[type=checkbox],
.wp-admin .dgplugin-input-wrap p input[type=radio] {
   margin: 0;
}