/**
 ELEMENTI DI BASE
**/
.dg_spinner {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: dg_spin_anim 1s infinite linear;
}
@keyframes dg_spin_anim {to{transform: rotate(1turn)}}

.messaggio-success {
    color: #1f5d01; 
    font-size: 25px;
    padding-bottom: 20px;
}
.messaggio-error {
    color: #c20000; 
    font-size: 25px;
    padding-bottom: 20px;
}
.necrologi-loader {
     display: flex;
     top: 0px;
     left: 0px;
     min-height: 90px;
     background-color: rgba(255,255,255,0.56);
     align-items: center;
     justify-content: center;
     text-align: center;
     flex-direction: column;
 }


/**
 LISTA NECROLOGI (loop necrologi)
**/
a.necrologio-loop,
.necrologio-loop {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: unset;
    display: block;
    box-sizing: border-box;
}
.necrologio-loop a.button {
    padding: 10px 20px 5px;
    border: 1px solid;
    text-transform: uppercase;
    box-sizing: border-box;
    font-size: 14px;
    font-family: JosefinSans-Medium;
    display: inline-block;
    transition-duration: 0.5s;
}
 
 
 

.lista-necrologi {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: unset;
	padding: 30px 5%;
}
.lista-necrologi.grid {
    display: grid;
    grid-template-columns: var(--dg-necro-num-cols);
}
.lista-necrologi .necro-content {
    background: var(--dg-necro-colore-box);
    color: var(--dg-necro-colore-testo);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
	border-radius: 20px;
	padding: 20px;
}
.lista-necrologi.slider {
    align-items: center;
}
.lista-necrologi.slider .slick-list {
    width: calc(100% - 100px);
}
.lista-necrologi.slider .necro-content,
.lista-necrologi.necro-box-verticale .necro-content {
    flex-direction: column;
}
.lista-necrologi.slider button.slick-arrow {
    all: unset;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.lista-necrologi.slider.slick-initialized .slick-slide {
    padding: 10px;
}
.lista-necrologi.slider .slick-arrow svg {
    fill: #667d90;
}
.lista-necrologi.necro-box-orrizzontale .necro-content {
    gap: 10px;
}
.lista-necrologi .necro-content img {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    object-fit: cover;
    object-position: center;
	border-radius: 10px;
}

.lista-necrologi .necro-content h2 {
    margin: 10px 0px;
    box-sizing: border-box;
    color: var(--dg-necro-colore-testo);
	padding: 20px 0 0 0;
	font-size: 20px;
}

.lista-necrologi .necro-content h4 {
    margin: 5px 0px;
    box-sizing: border-box;
    color: var(--dg-necro-colore-testo);
	padding-top: 10px;
	font-size: 18px;
	font-weight: bold;
}
.necro-box-orrizzontale .necro-content {
    align-items: center;
    flex-direction: column;
    gap:0;
}
.lista-necrologi .necro-content p {
    margin: 0px;
    box-sizing: border-box;
    color: var(--dg-necro-colore-testo);
}
.lista-necrologi.grid a.necrologio-loop {
    height: 340px;
}
.lista-necrologi .necro-description {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.38);
    padding-bottom: 30px;
}
.lista-necrologi.slider .necro-description {
    border: none;
}
.lista-necrologi .necro-content picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    height: auto;
}

.lista-necrologi .necrologio-loop .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.lista-necrologi .necrologio-loop .data-wrap,
.lista-necrologi .necrologio-loop .luogo-wrap {
    display: block;
}
.bottone-vai-al-necrologio {
	color: var(--dg-necro-colore-testo); 
	border-color: var(--dg-necro-colore-testo);
}

/* responsive della lista necrologi */
@media only screen and (min-width:768px) { 

	.lista-necrologi .necro-content {
		border-radius: 20px;
	}
	.lista-necrologi .necro-content h2 {
		font-size: 25px;
	}
	.necro-box-orrizzontale h2 {
		margin-top: 0;
		padding: 0;
	}
	.lista-necrologi .necro-content h4 {
		padding-top: 10px;
	}
	.necro-box-orrizzontale picture {
	    width: 45%;
	    padding: 0px;
	}
	.necro-box-orrizzontale .necro-content {
	    align-items: center;
	    flex-direction: row;
	    gap: 20px;
	}
	.necro-box-orrizzontale .button-wrapper {
	    width: 30%;
	    display: flex;
	    justify-content: center;
	    padding: 0;
	    margin-top: 0;
	    text-align: center;
	}
	.lista-necrologi .necrologio-loop .data-wrap,
	.lista-necrologi .necrologio-loop .luogo-wrap {
	    display: block;
	}
	.necro-box-orrizzontale .necro-description {
	    border-right: 1px solid rgba(255,255,255,0.38);
		border-bottom: none;
		padding-right: 30px;
	}
	.necro-box-verticale {
		grid-template-columns: 50% 50% !important;
	}
	.necro-box-verticale img {
		max-height: 370px;
		height: auto !important;
	}
	.necro-box-verticale h2 {
		height: 100px;
	}
    
	.lista-necrologi.necro-box-orrizzontale .necro-description {
		width: 60%;
	}
	.lista-necrologi.necro-box-orrizzontale picture {
		width: 45% ;
	}
	.lista-necrologi.necro-box-orrizzontale .button-wrapper {
		width: 30%;
	}
	.lista-necrologi.necro-box-orrizzontale .necro-content {
		gap:20px;
	}

}

@media only screen and (min-width:1024px) {

    
	.lista-necrologi .necro-content {
		padding: 20px;
	}
	.lista-necrologi .necro-content h4 {
		font-size: 22px;
	}
	.necro-box-orrizzontale .necro-content {
		gap: 0;
	}
	.necro-box-orrizzontale .necro-description {
		padding: 30px;
	}
	.necro-box-verticale .necro-content picture {
		width: 100%;
	}
	.necro-box-verticale img {
		max-height: 50vw;
	}

}

@media only screen and (min-width:1280px) {

    .necro-box-orrizzontale picture {
        width: 30%;
    }
    .necro-box-verticale {
        grid-template-columns: 33.33333% 33.33333% 33.33333% !important;
    }
    .necro-box-verticale img {
        max-height: 28vw;
    }
    .necro-box-verticale .necro-description {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        height: 32vw;
    }
	.lista-necrologi.necro-box-orrizzontale picture {
        width: 30%;
    }

}

@media only screen and (min-width:1600px) {
    
	.necro-box-verticale {
        grid-template-columns: 25% 25% 25% 25% !important;
    }
    .necro-box-verticale img {
        max-height: 20vw;
    }
    .necro-box-verticale .necro-description {
	    height: 400px;
    }

}




/**
 NECROLOGIO SINGOLO
**/
.post-necrologio {
    margin-top: 20px;
}

.post-necrologio h2.necro-nome-defunto {
    color: #111;
}
.post-necrologio .sezione-donazioni, 
.post-necrologio .necrologio-wrapper {
    background-color: var(--dg-necro-colore-page);
    padding: 20px;
}
.post-necrologio .button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--dg-necro-colore-box);
    color: var(--dg-necro-colore-testo);
    border: 1px solid var(--dg-necro-colore-box);
    text-transform: uppercase;
    cursor: pointer;
}
.post-necrologio .necro-dettagli .bottoni-azioni {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.post-necrologio .button.scrivi-su-whatsapp {
    background-color: #1bd741;
    border-color: #1bd741;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    padding: 8px 15px;
}
.post-necrologio .button.scrivi-su-whatsapp svg {
    width: 25px;
}
.post-necrologio .button.scrivi-su-whatsapp svg path {
    fill: #fff;
}
.post-necrologio .necro-content {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.post-necrologio .necro-content picture {
    display: block;
    margin-bottom: 20px;
}
.post-necrologio .necro-content picture img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.post-necrologio .necro-testo{
    text-align: justify;
    margin-bottom: 20px;
    font-size: 18px;
    color: #494855;
    font-weight: 350;
}
.post-necrologio .necro-mappa {
    display: block;
    background: #89959d;
}
.post-necrologio .necro-mappa h2 {
    display: block;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    background-color: var(--dg-necro-colore-box);
    font-size: 18px;
    padding: 15px 0 10px;
}
/* schede di invito */

.post-necrologio .scheda-invito {
    border: 2px solid var(--dg-necro-colore-box);
}
.post-necrologio .scheda-invito-head {
    background-color: var(--dg-necro-colore-box);
    border-bottom: 2px solid var(--dg-necro-colore-box);
    color: var(--dg-necro-colore-testo);
    font-size: 1.2em;
    padding: 7px 5px;
    text-align: center;
}
.post-necrologio .scheda-invito ul {
    padding: 20px;
    display: block;
    padding-top: 10px;
}
.post-necrologio .scheda-invito ul li {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.568);
}
.post-necrologio .scheda-invito ul li > span {
    width: 100px;
    display: inline-block;
    margin-bottom: 0.67em;
}
.post-necrologio .griglia-schede {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    gap: 20px;
    margin: 1.2em auto;
    padding: 0px 20px;
}
.post-necrologio .scheda-invito #qrcode {
    padding: 10px;
}
.post-necrologio .scheda-invito #qrcode img {
    display: block;
    margin: 0 auto;
    max-width: 47%;
}
.post-necrologio .scheda-invito.scheda-qrcode p,
.post-necrologio .scheda-invito.scheda-mostra_scheda_qrcode p {
    font-style: italic;
    text-align: center;
    margin: 0;
}

/* share on */
.post-necrologio .social-share {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #00000029;
    box-sizing: border-box;
}
.post-necrologio .social-share h5 {
    margin: 0;
    margin-bottom: 20px;
    font-style: italic;
    color: var(--dg-necro-colore-box);
}
.post-necrologio .social-share a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
}
.post-necrologio .social-share a.share-on.wa {
    padding: 5px 0px;
}
.post-necrologio .shs-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.post-necrologio .social-share svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* layout-default */

.post-necrologio .necrologio-wrapper.layout-default {
    padding: 30px 10%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.post-necrologio .layout-default .necro-content {
    width: 30%;
}
.post-necrologio .layout-default .necro-center {
    width: 40%;
}
.post-necrologio .layout-default .necro-dettagli {
    width: 30%;
    padding: 10px;
    text-align: center;
    border-left: 1px solid #00000029;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HERO section */
.necro-hero-section {
    padding: 80px 20px;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 12px;
}
.necro-hero-section h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #fff;
}
.necro-hero-section p {
    font-size: 1.2em;
}

/* layout-alternativo */
.post-necrologio .necrologio-wrapper.layout-alt {
    padding-bottom: 40px;
    text-align: center;
}

/* form di cordoglio (necrologio singolo) */
.mappa-cerimonia {
    display: block;
    width: 100%;
}
.cordo-form-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
    background-color: rgba(12, 12, 15, 0.0);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    opacity: 0.0;
    transition: background 2.6 ease;
}
.no-popup .cordo-form-wrapper,
.no-popup .cordo-form-wrapper[active] {
    position: initial;
    box-sizing: border-box;
    top: unset;
    left: unset;
    background-color: var(--dg-necro-colore-page);
    opacity: unset;
    padding: 60px 40px;
}
.cordo-form-wrapper[active] {
    pointer-events: initial;
    user-select: initial;
    background-color: rgba(12, 12, 15, 0.5);
    opacity: 1.0;
}
.cordo-form-wrapper .form-container form {
    display: none;
}
.cordo-form-wrapper[active="whatsapp"] .form-buttons,
.cordo-form-wrapper[active="email"] .form-buttons,
.cordo-form-wrapper[active="pdf"] .form-buttons {
    display: none;
}
.cordo-form-wrapper[active="whatsapp"] .form-container form,
.cordo-form-wrapper[active="email"] .form-container form,
.cordo-form-wrapper[active="pdf"] .form-container form {
    display: flex;
}

.form-container {
    background-color: var(--dg-necro-colore-box);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.form-container form {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    position: relative;
}

.no-popup .form-container form {
    padding: 0;
}

.form-container .form-row {
    display: flex;
    justify-content: space-between;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 48%;
}
.form-container .form-group.full {
    width: 96%;
}

.form-container label {
    margin-bottom: 5px;
    color: #fff;
}

.form-container input, .form-container textarea {
    padding: 10px;
    border: 1px solid #55555596;
    border-radius: 5px;
    background-color: #ffffffee;
}

.form-container input:focus, .form-container textarea:focus {
    border-color: #888;
    outline: none;
}

.form-container textarea {
    width: 100%;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #ffffff8f;
    color: var(--dg-necro-colore-box);
    text-transform: uppercase;
    font-weight: bold;
}

.form-container button:hover {
    background-color: #ffffff54;
}

.form-container button.popclose {
    background: unset;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -6px;
    right: 0px;
}
.form-container button.popclose svg {
    width: 100%;
}
.form-container button.popclose svg path {
    stroke: #ffff;
}
.form-group.pvcy-group p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    margin-bottom: 5px;
}
.form-group.pvcy-group p label {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.no-popup .form-container button.popclose {
    display: none;
}
/*
.form-container button.invia-a-api.disabled {
    cursor: not-allowed;
}
*/

.form-container .form-group input[type="checkbox"] {
    height: auto;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 6px;
    margin-bottom: 0;
    max-width: 6px;
    margin-right: 10px;
}
.form-container .form-group input:checked {
    background-color: #fff;
}
.form-container .form-group.full a {
    color: #fff;
}
.form-container .convalidazione .dg_spinner {
    width: 22px;
    padding: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
/* responsive del necrologio singolo */
@media only screen and (min-width:768px) { 
    
}

@media only screen and (min-width:1024px) {
    
}

@media only screen and (min-width:1280px) {

}

@media only screen and (min-width:1600px) {

    
}